In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [ ]:
df = pd.read_csv('data/pollution.csv')

In [ ]:
df.shape

In [ ]:
df.head(200)

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,2010,1,9,3,196.0,-17,-15.0,1027.0,NW,8.05,0,0
196,197,2010,1,9,4,169.0,-17,-13.0,1027.0,NW,9.84,0,0
197,198,2010,1,9,5,155.0,-19,-16.0,1027.0,NW,13.86,0,0
198,199,2010,1,9,6,119.0,-18,-15.0,1027.0,NW,17.88,0,0
199,200,2010,1,9,7,106.0,-19,-15.0,1027.0,NW,21.90,0,0

In [ ]:
df.columns